.wrapper {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--font-family);
}

.accounts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .accountsTitle {
        padding-left: 30px;

        span {
            font-size: 30px;
            color: rgb(var(--primary-color-text));
            font-weight: 700;

        }
    }
}



.allUsers,
.banUsers {

    margin: 0 16px;

}
.title{
    font-size: 16px;
    color: rgb(var(--primary-color-text));
    font-weight: 600;
    margin-top: 32px;
}