.wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.container {}

.content {
    margin-left: 240px;
    overflow: hidden;
    width: calc(100% - 240px);
    min-height: 500px;
    height: 100%;

    .content-page {
        margin-bottom: 63px;
        transition: all 0.4s ease-in-out;

    }

    footer {
        background-color: #ffffff;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        bottom: 0;
        color: #3E3341;
        text-align: center;
        padding: 20px 30px;
        position: absolute;
        right: 0;
        left: 240px;
        font-size: 12px;
        position: fixed;
    }
}

@media screen and (max-width: 46.1875em) {
    .content {
        width: 100%;
        margin-left: 0;

        footer {
            width: 100%;
            left: 0;
        }
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .content {
        width: 100%;
        margin-left: 0;

        footer {
            width: 100%;
            left: 0;
        }
    }
}