.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-decoration {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

// .login-image {
//     max-width: 1535px;
//     height: 800px;
//     object-fit: cover;
// }

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 157, 157, 0.25);
    pointer-events: none;
}

.login-features {
    background-color: transparent;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    top: 50px;
}

.logo {
    margin: 10px 55px;
    width: 200px;
}

.forgot-pass {
    margin: 5px 30%;
    justify-content: center;
    align-items: center;
    display: flex;


    button {
        background-color: transparent;
        border: none;
        font: var(--font-family);
        cursor: pointer;

        p {
            color: #3E3341;
            font-style: italic;
            text-decoration: none;
            font-size: 14px;
        }
    }

}

.or {
    margin: 5px;
    flex-direction: row;
    display: flex;
    color: #3E3341;
    font-weight: 500;
}

.line {
    background-color: white;
    width: 100%;
    height: 2px;
    position: relative;
    top: 8px;
    margin: 0 10px;
}

.register-link {
    width: 320px;
    height: 40px;
    margin: 0px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        outline: none;
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        color: #FE6E91;
        padding: 0 5px;
    }

    p {
        color: #3E3341;
    }
}