.wrapper{
    display: flex;
    justify-content: center;   
    align-items: center;
}

.login-decoration{
    width: 100%;
    height: auto;
    position: relative;
}

.login-image{
    max-width: 1535px;
    height: 800px;
}

.overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1535px;
    height: 800px;
    background-color: rgba(240, 157, 157, 0.2);
    pointer-events: none; 
}

.login-features{
    background-color: transparent;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.logo{
    margin:0 55px;
    width: 200px;
}

.forgot-pass{
    margin: 5px 30%;
    button{
        background-color: transparent;
        border: none;
        font: var(--font-family);
        p{
            color: #3E3341;
            font-style: italic;
            text-decoration: none;
            font-size: 18px;
        }
    }
    
}

.or{
    margin: 5px;
    flex-direction: row;
    display: flex;
    color: #3E3341;
}
.line{
    background-color: white;
    width: 100%;
    height: 1.5px;
    position: relative;
    top: 8px;
    margin: 0 10px;
}

.register-link{
    width: 320px;
    height: 50px;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    a{
        display: flex;
        outline: none;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        color: #FE6E91;
        padding: 0 5px;
    }
    p{
        color:#3E3341 ;
    }
}

