.wrapper {
    height: 100vh;
    overflow-x: auto;
    border-radius: 0;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    display: flex;
    min-height: 0;
    position: static;
    align-items: stretch;
    overflow-y: auto;
    align-self: auto;
    justify-content: flex-start;
    flex-grow: 1;

    .wrapper-one {
        overflow-y: visible;
        padding: 36px 0;
        background-color: transparent;
        flex-direction: column;
        display: flex;
        flex-shrink: 0;
        position: static;
        align-items: stretch;
        overflow-x: visible;
        align-self: auto;
        justify-content: flex-start;
        flex-grow: 0;
    }
}

.header-edit-profile {
    margin: 32px 0 0 45px;
    display: block;

    .header-edit-profile-one {
        align-items: flex-end;
        overflow-y: visible;
        border-radius: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        overflow-x: visible;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 24px;

        .header-edit-profile-two {
            overflow-y: visible;
            border-radius: 0;
            background-color: transparent;
            min-width: 0;
            flex-direction: column;
            display: flex;
            min-height: 0;
            align-items: stretch;
            overflow-x: visible;
            align-self: auto;
            justify-content: flex-start;
            position: relative;
            flex-grow: 1;

            span {
                overflow-y: visible;
                font-weight: 500;
                min-width: 0;
                margin: 0;
                color: #3E3341;
                word-wrap: break-word;
                overflow-x: visible;
                position: relative;
                display: block;
                font-family: var(--font-family);
                white-space: pre-line;
                max-width: 100%;
                word-break: break-word;
                font-size: 24px;
            }
        }
    }
}

.content {
    overflow-y: visible;
    background-color: transparent;
    flex-direction: column;
    display: flex;
    padding: 0 44px;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;

    .content-one {
        width: 100%;
        height: 100%;
        display: block;

        .content-two {
            color: #3E3341;
            flex-direction: column;
            height: 100%;
            width: 100%;
            display: flex;
            outline: none;
            pointer-events: auto;
            position: relative;
            min-height: 0px;
            min-width: 0px;

            .content-three {
                display: block;
                flex: 1 1 auto;
                overflow: hidden;
                outline: none;
                pointer-events: auto;
                position: relative;
                min-height: 0px;
                min-width: 0px;

                .content-four {
                    pointer-events: none;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    display: flex;
                    outline: none;
                    position: relative;
                    min-height: 0px;
                    min-width: 0px;

                    .content-five {
                        scroll-snap-type: none;
                        overflow: hidden auto;
                        flex-grow: 1;
                        display: block;
                        pointer-events: auto;
                        width: 100%;
                        height: 100%;
                        flex: 0 1 auto;
                        flex-direction: row;
                        outline: none;
                        position: relative;
                        min-height: 0px;
                        min-width: 0px;
                    }
                }
            }
        }
    }
}

.push-noti {
    pointer-events: none;
    width: 100%;
    min-height: 48px;
    padding: 8px 16px 4px;
    scroll-snap-stop: always;
    background: rgb(255, 255, 255);
    flex-direction: row;
    display: flex;
    flex: 0 1 auto;
    outline: none;
    position: relative;
    min-width: 0px;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 16px;
        font-weight: 600;
        color: #3E3341;
    }

    .push-noti-one {
        display: block;
        position: relative;

        span {
            font-size: 14px;
            font-weight: 400;
            color: #3E3341;
        }
    }
}

.push-noti-two {
    pointer-events: none;
    flex-shrink: 0;
    padding: 0 8px;
    align-items: center;
    position: relative;
    min-height: 0px;
    min-width: 0px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    outline: none;

    .button-pause {
        pointer-events: all;
        display: block;

        .button-pause-one {
            height: 24px;
            width: 40px;
            padding: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            display: flex;
            position: relative;

            .pause-input {
                border-radius: 16px;
                padding: 0;
                background: rgb(219, 219, 219);
                overflow-x: hidden;
                position: relative;
                overflow-y: hidden;
                width: 40px;
                outline: none;
                appearance: none;
                height: 24px;
                cursor: pointer;
                transition-duration: 150ms;
                transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
            }

            .pause-input::before {
                content: "";
                height: 22px;
                width: 22px;
                left: 1px;
                top: 1px;
                background-color: rgb(var(--lodi-primary-background));
                border-radius: 14px;
                cursor: pointer;
                position: absolute;
                transition-duration: 150ms;
                transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
            }

            .pause-input:checked {
                background: #FE6E91;
            }

            .pause-input:checked::before {
                transform: translateX(16px);
                box-shadow: 0 5px 16px rgba(0, 0, 0, .15),
                    0 1px 2px rgba(0, 0, 0, .16),
                    0 3px 2px rgba(0, 0, 0, .1);
            }
        }
    }
}

.list-sub-noti {
    background-color: rgba(22, 24, 35, 0.03);
    width: 100%;
    padding: 8px 0px 4px;
    flex-direction: column;
    display: flex;
    position: relative;
    flex-grow: 1;

    .list-sub-noti-one {
        height: 54px;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 16px;
        width: 100%;

        .letter-sub-noti {
            font-size: 14px;
            color: #3E3341;
        }
    }
}