.wrapper {
    height: 100vh;
    overflow-x: auto;
    border-radius: 0;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    display: flex;
    min-height: 0;
    position: static;
    align-items: stretch;
    overflow-y: auto;
    align-self: auto;
    justify-content: flex-start;
    flex-grow: 1;

    .wrapper-one {
        overflow-y: visible;
        padding: 36px 0;
        background-color: transparent;
        flex-direction: column;
        display: flex;
        flex-shrink: 0;
        position: static;
        align-items: stretch;
        overflow-x: visible;
        align-self: auto;
        justify-content: flex-start;
        flex-grow: 0;
    }
}

.header-edit-profile {
    margin: 32px 0 0 45px;
    display: block;

    .header-edit-profile-one {
        align-items: flex-end;
        overflow-y: visible;
        border-radius: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        overflow-x: visible;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 24px;

        .header-edit-profile-two {
            overflow-y: visible;
            border-radius: 0;
            background-color: transparent;
            min-width: 0;
            flex-direction: column;
            display: flex;
            min-height: 0;
            align-items: stretch;
            overflow-x: visible;
            align-self: auto;
            justify-content: flex-start;
            position: relative;
            flex-grow: 1;

            span {
                overflow-y: visible;
                font-weight: 500;
                min-width: 0;
                margin: 0;
                color: #3E3341;
                word-wrap: break-word;
                overflow-x: visible;
                position: relative;
                display: block;
                font-family: var(--font-family);
                white-space: pre-line;
                max-width: 100%;
                word-break: break-word;
                font-size: 24px;

            }
        }
    }
}

.content {
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    max-width: 100%;
    margin:0 45px;

    .sub-content {
        margin-bottom: 22px;
        display: block;
        padding: 16px 16px 5px 16px;
        border-bottom: 1px solid rgb(219,219,219);

        .header-sub-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            position: relative;
            z-index: 0;
            flex-wrap: nowrap;
            // padding-bottom: 16px;

            .header-sub-content-one {
                flex-shrink: 1;
                flex-direction: column;
                display: flex;
                flex-grow: 1;
                min-width: 0;
                position: relative;
                z-index: 0;
                flex-basis: 0px;
                max-width: 100%;

                .header-sub-content-two {
                    display: flex;
                    flex-shrink: 0;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: stretch;
                    position: relative;
                    z-index: 0;
                    flex-wrap: nowrap;

                    .header-sub-content-three {
                        flex-shrink: 1;
                        flex-direction: column;
                        display: flex;
                        flex-grow: 1;
                        min-width: 0;
                        position: relative;
                        z-index: 0;
                        flex-basis: 0px;
                        max-width: 100%;

                        span {
                            color: #3E3341;
                            min-width: 0;
                            word-wrap: break-word;
                            position: relative;
                            display: block;
                            overflow-y: visible;
                            text-align: left;
                            overflow-x: visible;
                            font-size: 16px;
                            font-weight: 600;
                            max-width: 100%;
                            font-family: var(--font-family);

                        }
                    }
                }
            }
        }

        .list-content {
            position: relative;
            cursor: pointer;
            padding: 16px 0 16px 0;

            .list-content-title {
                display: block;
                font-size: 14px;
                color: #3E3341;
                margin: 0 16px 0 0;
            }

            .list-content-icon {
                display: inline-flex;
                position: absolute;
                top: 50%;
                margin: 0 22px;
                transform: translateY(-50%);
                right: 0;

                .icon {
                    color: #FE6E91;
                    font-size: 18px;
                }
            }
        }
    }
}