.wrapper {
    height: 100vh;
    overflow-x: auto;
    border-radius: 0;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    display: flex;
    min-height: 0;
    position: static;
    align-items: stretch;
    overflow-y: auto;
    align-self: auto;
    justify-content: flex-start;
    flex-grow: 1;

    .wrapper-one {
        overflow-y: visible;
        padding: 36px 0;
        background-color: transparent;
        flex-direction: column;
        display: flex;
        flex-shrink: 0;
        position: static;
        align-items: stretch;
        overflow-x: visible;
        align-self: auto;
        justify-content: flex-start;
        flex-grow: 0;
    }
}

.header-edit-profile {
    margin: 32px 64px 0 64px;
    display: block;

    .header-edit-profile-one {
        align-items: flex-end;
        overflow-y: visible;
        border-radius: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        overflow-x: visible;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 16px;

        .header-edit-profile-two {
            overflow-y: visible;
            border-radius: 0;
            background-color: transparent;
            min-width: 0;
            flex-direction: column;
            display: flex;
            min-height: 0;
            align-items: stretch;
            overflow-x: visible;
            align-self: auto;
            justify-content: flex-start;
            position: relative;
            flex-grow: 1;

            span {
                overflow-y: visible;
                font-weight: 500;
                min-width: 0;
                margin: 0;
                color: #3E3341;
                word-wrap: break-word;
                overflow-x: visible;
                position: relative;
                display: block;
                font-family: var(--font-family);
                white-space: pre-line;
                max-width: 100%;
                word-break: break-word;
                font-size: 24px;
            }
        }
    }
}

.content {
    margin: 0 64px;
    overflow-y: visible;
    overflow-x: visible;
    background-color: transparent;
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    align-self: auto;
    justify-content: space-between;
    position: relative;
    flex-grow: 0;

    .list-sub-noti {
        background-color: rgba(22, 24, 35, 0.03);
        width: 100%;
        padding: 8px 0px 4px;
        flex-direction: column;
        display: flex;
        position: relative;
        flex-grow: 1;
        margin-top: 10px;
        transition: width 180ms ease;

        .sub-noti-one {
            padding: 16px 24px;
            user-select: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid rgb(115, 115, 115, 0.2);

            .avatar {
                margin-right: 14px;
                flex-shrink: 0;
                line-height: 0;
                display: block;

                a {
                    height: 44px;
                    width: 44px;
                    text-decoration: none;
                    border-radius: 50%;
                    border: solid rgba(0, 0, 0, 0.4);
                    background-color: rgb(var(--lodi-primary-background));
                    border-width: 0;
                    padding: 0;
                    min-width: 0;
                    flex-direction: column;
                    margin: 0;
                    display: flex;
                    overflow-x: hidden;
                    min-height: 0;
                    cursor: pointer;
                    outline-style: none;
                    align-items: stretch;
                    position: relative;
                    z-index: 0;
                    text-align: inherit;
                    overflow-y: hidden;

                    img {
                        border-width: 0;
                        object-fit: cover;
                        padding: 0;
                        font-size: 100%;
                        width: 100%;
                        margin: 0;
                        height: 100%;
                        vertical-align: baseline;
                        border: 0;

                    }
                }
            }

            .name-content {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                span {
                    font-weight: 400;
                    min-width: 0;
                    margin: 0;
                    color: #3E3341;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    display: block;
                    max-width: 300px;
                    font-size: 13px;
                    height: 20px;
                }

                .date {
                    line-height: 18px;
                    display: inline;
                    font-size: 13px;
                    font-weight: 400;
                    min-width: 0;
                    margin: 0;
                    word-wrap: break-word;
                    color: rgb(115, 115, 115);
                    font-family: var(--font-family);
                    white-space: pre-line;
                    max-width: 100%;
                    word-break: break-word;
                }
            }

            .buttonWrapper {
                .buttonSee {
                    margin-left: 20px;
                    margin-top: 5px;

                    button {
                        cursor: pointer;
                        border: none;
                        color: white;
                        font-weight: 500;
                        background-color: #FE6E91;
                        padding: 3px 10px;
                        width: 87px;
                        border-radius: 4px;
                    }

                    .delete {
                        background-color: rgb(115, 115, 115, 0.6);
                    }
                }
            }

            .follow-or-img {
                flex-shrink: 0;
                margin-left: 12px;
                line-height: 0;
                display: block;

                a {
                    display: inline;
                    padding: 0;
                    background-color: transparent;
                    margin: 0;
                    border: 0;
                    cursor: pointer;
                    text-align: inherit;
                    list-style: none;
                    text-decoration: none;
                    outline: none;

                    img {
                        object-position: right;
                        object-fit: cover;
                        border: 0;
                        height: 44px;
                        width: 44px;
                        overflow: clip;
                    }
                }

                button {
                    background-color: #FE6E91;
                    border: none;
                    border-radius: 8px;
                    color: white;
                    position: relative;
                    text-align: center;
                    cursor: pointer;
                    display: block;
                    font-family: var(--font-family);
                    font-size: 13px;
                    font-weight: 600;
                    padding: 7px 16px;
                    pointer-events: auto;
                    text-overflow: ellipsis;
                    text-transform: inherit;
                    width: auto;

                    .letter-button {
                        height: 100%;
                        overflow-y: visible;
                        border-radius: 0;
                        justify-content: center;
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        overflow-x: visible;
                        position: relative;
                        padding: 0 4px;

                        .letter-button-one {
                            display: block;
                            font-weight: 600;
                            margin: 0;
                            font-size: 13px;
                            font-family: var(--font-family);
                        }
                    }
                }
            }
        }
    }

    .list-content {
        position: relative;
        cursor: pointer;
        padding: 16px 0 16px 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgb(219, 219, 219);
        flex-direction: column;
        background-color: transparent;



        .list-content-one {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            .list-content-title {
                display: flex;
                font-size: 14px;
                color: #3E3341;
                margin: 0 16px 0 0;
                font-weight: 500;
            }

            .list-content-icon {
                display: flex;
                margin: 2px 20px;

                .icon {
                    color: #FE6E91;
                    font-size: 18px;
                }
            }

            .sub-descrip {
                display: flex;
                font-size: 12px;
                color: rgb(115, 115, 115);
                margin-top: 5px;
            }
        }
    }

    .list-content:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}