.wrapper{
    padding: 0 50px ;

}

.login-form{

}
.inputWrapper{
    margin-bottom: 20px;
}

.input-box{
    width: 100%;
    height: 50px;
    margin: 0;
    position: relative;

    input{
        width: 320px;
        height: 100%;
        background: white;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 40px;
        font-size: 14px;
        padding: 20px 45px 20px 20px;
        font-style: italic;

    }

    input::placeholder{
        color: #3E3341;
    }
}
.validate-login{
    margin-bottom: 20px;
    color: red;
    font-size: 11.5px;
    padding-left: 20px;
}

.icon-login{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #FE6E91;
   
}

.btn-login {
    width: 100%;
    height: 45px;
    background-color: #FE6E91 ;
    color: #fff;
    border-radius: 45px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
     cursor: pointer;
}
.btn-login:hover{
    background-color: #ec6486;
}
