.container {
    flex-shrink: 1;
    position: relative;
    margin: 8px;
    max-width: 700px;
    min-width: 0;
    z-index: 0;
    flex-basis: 500px;
    display: block;
    flex-grow: 25;
    background-color: transparent;
}

.diary-post {
    display: block;

    .diary-post-sub {
        margin-bottom: 16px;
        display: block;

        .sub {
            display: flex;
            position: relative;
            width: 100%;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            background-color: rgb(var(--lodi-primary-background));
            border-radius: 10px;
            flex-grow: 0;

            .diary-first {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 100%;
                flex-grow: 0;
                padding: 16px;
            }
        }
    }
}

.left-column {
    width: 210px;
    z-index: 0; //60
    display: flex;
    flex-direction: column;
    transition: width 180ms ease;

    .sidebar {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
        background-color: rgb(var(--lodi-primary-background));

        .sidebar-header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            height: 48px;
            // margin-top: 16px;
            justify-content: space-between;
            padding: 0 24px;

            .sidebarNavButton {
                width: 20px;
                height: 20px;

                button {
                    cursor: pointer;
                    transition: background-color 0.1s;
                    background: none;
                    width: 100%;
                    height: 100%;
                    border: none;
                    box-shadow: none;

                    .icon {
                        display: flex;
                        color: #FE6E91;
                        font-size: 18px;
                    }
                }
            }
        }

        .sidebar-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;
            padding-top: 1px;

            .sidecar-scroll {
                overflow-y: auto;
                overflow-x: hidden;
                position: relative;
                display: flex;
                width: 100%;

                ul {
                    list-style: none;
                    display: flex;
                    width: 100%;
                    flex-direction: column;

                    li {
                        display: flex;
                        position: relative;
                        width: 100%;

                        .inner {
                            padding: 12px 24px;
                            cursor: pointer;
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            .sub-icon {
                                transform: scaleX(1);
                                background-color: transparent;
                                width: 20px;
                                height: 20px;

                                .icon {

                                    font-size: 19px;
                                }

                                .sun {
                                    color: wheat;
                                }

                                .star {
                                    color: aquamarine;
                                }

                                .byme {
                                    color: violet;
                                }

                                .task {
                                    color: #FE6E91;
                                }

                                .physical {
                                    color: teal;
                                }

                                .bell {
                                    color: olive;
                                }

                                .clock {
                                    color: palegoldenrod;
                                }

                                .talk {
                                    color: salmon;
                                }

                                .gift {
                                    color: lightblue;
                                }
                            }

                            .sub-title-item {
                                margin-left: 16px;
                                font-weight: 500;
                                color: #3E3341;
                                font-size: 13px;
                                height: 20px;
                                white-space: wrap;
                                // overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .sub-count {
                                margin-left: auto;
                                font-weight: 500;
                                font-size: 14px;
                                color: #3E3341;

                            }
                        }
                    }

                    li:hover {
                        background-color: rgb(247, 235, 240);
                    }

                    .sidebar-lastStaticList {
                        margin: 9px 16px;
                        height: 0.5px;
                        background-color: rgb(219, 219, 219);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 46.1875em) {
    
    .left-column {
        display: none;
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {}