@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
--primary:#f06f85;
--font-family: 'Montserrat', sans-serif;
--header-height: 0px;
--lodi-primary-background: 255, 255, 255;
--lodi-second-background: 252, 239, 246;
--lodi-color-pink: #F9C0D5;
--header-width: 78px;
--button-height-medium: 35px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: rgb(var(--lodi-second-background));
}

//Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 10px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(62, 51, 65, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}